* {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

#navigator {
    background: #1852be;
    z-index:100;
    opacity: 0.75;
    animation: fadeout 0.5s ease;
}

#navigator:hover {
    opacity: 1;
    animation: fadein 0.5s ease;
}

@keyframes fadein {
    from {opacity: 0.75;}
    to {opacity: 1;}
  }

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0.75;}
  }
@keyframes loading {
    0% {background: #5cb85c;transform: rotate(0deg);}
    33% {background: #f0ad4e;}
    66% {background: #d9534f;}
    100% {background: #5bc0de;transform: rotate(180deg)}
}
/* covertitle Component Styles */
.covertitle {
    position: relative;
    max-height: 100%;
    color: white;
    background-repeat: round;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    overflow: hidden;
}

.covertitle h1 {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    font-size: 10vw;
    color: white;
}

.covertitle img {
    width: 100%;
    z-index: -1;
}
/* --------------------------------*/