<div>
    <div v-if="$route.params.id">
        <chapterP :who="$route.params.id"></chapterP>
    </div>
    <div v-else>
        <covertitle title="Our Chapters" image="coverBack.jpg"></covertitle>
        <b-container style="margin-bottom:16px;align-items: center;justify-content: center;"></b-container>
                <chaptercards v-for="chapter in chapters" 
                :key="chapter.id"
                :title="chapter.title" 
                :desc="chapter.desc" 
                :website="chapter.website" 
                :img="chapter.img" 
                :img-alt="chapter.imgalt" 
                :lead="chapter.lead">
                </chaptercards>
        </b-container>
    </div>
</div>